
    h1 {color: red; font-size: 32px;}
    p {color: blue; font-size: 16px;}
    ul {color: green;}

    .element1 {color: gold;}
    .element2 {color: chocolate;}
    .element3 {color: cornflowerblue;}

    #odlomak1 {color: rebeccapurple;}
    #odlomak2 {color: cadetblue;}
    #odlomak3 {color: orangered;}

